* {
    font-family: Quicksand;
    padding: 8px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    background-color: #ffc0cb;
}
.navbar-right {
    display: flex;
    gap: 30px;
}
.navbar a {
    text-decoration: none;
    color:black;
}
.body {
    background-color: #ffe4e1;
}